@import url('https://fonts.googleapis.com/css?family=Rubik');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    background-color: #f6f6f6;
}
